* {
    box-sizing: border-box;
  }
  .subh1{
    margin-bottom: 30px;
    color: #000;
    line-height: 1.1em;
    letter-spacing: -.035em;
    font-weight: 800;
    margin: 0;
    padding: 0;
    border: 0;
    text-align:center;
    font-family: Inter,sans-serif;
    font-size: 80px;
  }
  .design1{
    text-align: center;  
   font-family: Inter,sans-serif, 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   font-size: 28px;
   font-weight: 100;
   padding-top: 0px;
   margin-top: 0px;
   margin-top: 12px; 
   text-align:center;
   color: #7d7c83;
  }
  
  /* Create four equal columns that floats next to each other */
  .column4a {
    float: left;
    width: 23.47%;
    height: 275px; 
    margin-top: 18px;
      margin-left: 12px;
      margin-right: 11px;
    border:3px solid black;
      /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column4a {
      width: 100%;
    }
  }
  .column5b {
    width: 20.0%;
    float: left;
    height: 271px;
    display: block;
      /* Should be removed. Only for demonstration */
  }
  .column6b {
    width: 16.6666667%;
    float: left;
    height: 271px;
    display: block;
      /* Should be removed. Only for demonstration */
  }
  .column9b {
    width: 11.11111111%;
    float: left;
    height: 271px;
    display: block;
      /* Should be removed. Only for demonstration */
  }
  .column7b {
    width: 14.2857143%;
    float: left;
    height: 271px;
    display: block;
      /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column5b {
      width: 20%;
    }
  }
  @media screen and (max-width: 600px) {
    .column7b {
      width: 14.2857%;
    }
  }
  @media screen and (max-width: 600px) {
    .column9b {
      width: 11.1111111%;
    }
  }
  .move{
    position: relative;
    bottom: -215.6px;
  }
  .copy{
    background-color: white;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    font-size:14px;
  }
  .copy:hover{
    background-color: salmon;
    color: black;
  }
  .copy9b{
    background-color: white;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1.5px solid black;
    font-size:14px;
    width:100% ;
    padding: 0%;
  }
  .copy9b:hover{
    background-color: salmon;
    color: black;
  }

  .fa-chevron-right{
    position: relative;
    left: 660px;
    color: black;
  }
  .fa-chevron-left{
    position: relative;
    left: 530px;
    color: black;
  }
  .fa-chevron-circle-up{
    position: relative;
    left:1210px;
    color:black;
    font-weight: bolder;
    font-size: 50px;
  }